
        
              
            	<div class="row">
                    <div class="alert alert-info alert-dismissible" role="alert">
                  <button type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode);" class="close"  data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                   <marquee scrollamount="10" height="40px" width="1500px"><p style="font-family: Impact; font-size: 18pt" width="200px">Welcome to BookMyBus!!!! It is the best platform in the world for booking bus tickets online.</p></marquee>
                </div>
                    </div>

        

    <!-- ************************************************************************************************************** -->
    
        <!--<div class="col-6">
            <img src="https://cdn.pixabay.com/photo/2018/09/17/23/16/travel-3685042__340.png" alt="">
        </div>-->

        <div class="row">
            <div id="input" class="col-6">
                <div id="source">
                 Source:<select class="form-control" >
                    <option value="mumbai">Mumbai</option>
                    <option value="chennai">Chennai</option>
                    <option value="hyderabad">Hyderabad</option>
                    <option value="banaglore">Bangalore</option>
                  </select>
                </div>
                <div id="destination">
                   Destination:<select class="form-control">
                       <option value="mumbai">Mumbai</option>
                       <option value="chennai">Chennai</option>
                       <option value="hyderabad">Hyderabad</option>
                       <option value="banaglore">Bangalore</option>
                     </select>
                </div>

                  From:<input type="date" class="form-control select-date" placeholder="From Date">
                  To:<input type="date" class="form-control select-date" placeholder="To Date">
                  <br>
                <button class="btn-success">Search</button>
            </div>
                
            
    
  
        <div class="col-6">
            <img src="/assets/images/bus 3.jpg" width="640px" alt=""
            style="border-radius: 100px">
        </div>
    </div>

    